*{
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body{
    background-color: #E4DEE4;
    width: auto;
    height: auto;
}

.wrapperHeader{

    
    position: sticky;
    left: 42.71%;
    right: 42.76%;
    top: 4.35%;
    bottom: 90.28%;
    font-family: 'Kaisei Tokumin', serif;
    
    }
    .wrapperHeader p{
    
        text-align: center;
        font-family: 'Kaisei Tokumin';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;

        
    
    }



.whiteBox{
   
    width: auto;
    height: 10%;
}

ul{
display: inline-block ;


}

ul img{
width: auto;
height: 80%;

    
}
#content{
display: inline-block;
width: auto;
height: 25vh;

}





@media (max-width: 700px){

    .whiteBox{
        background-color: red;
        width: auto;
        height: 20%;
    }

    ul{
        display: inline-block ;
        text-align: center;
        
        }
        
        ul img{
            
        width: auto;
        height: 80%;
        
            
        }
    
    .wrapperHeader{
        position: sticky;

        left: 16.88%;
        right: 16.88%;
        top: 1.76%;
        bottom: 88.03%;
    }

    body{
        background-color: #E4DEE4;
       
    }

}