body{


    background-color: #E4DEE4;
}


.svg1{
    position: absolute;
left: 6.3%;
right: 63.75%;
top: 15.28%;
bottom: 20.46%;

}

.svg2{
    position: absolute;
left: 88.8%;
right: 1.42%;
top: 75%;
bottom: 1.77%;


}